@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-outline {
    @apply flex items-center justify-center rounded-md bg-transparent border border-sky-600 text-sky-700 px-3 py-2 text-sm font-semibold text-sky-700 shadow-sm hover:bg-sky-600 hover:border-transparent hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 w-full relative;
  }
  .btn-not-outline {
    @apply flex items-center justify-center rounded-md bg-sky-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-transparent hover:border hover:border-sky-600 hover:text-sky-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600 w-full;
  }
}

#app {
  height: 100%;
}

/* Scrollbar personnalisée */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

/*
  Custom scrollbar pour les commentaires
 */
.comment-list::-webkit-scrollbar {
  width: 8px;
}

.comment-list::-webkit-scrollbar-track {
background: transparent;
}

.comment-list::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 3px;
}

.comment-list:hover::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.comment-list:hover::-webkit-scrollbar-thumb {
  background: #d1d5db;
}

/* CKEditor */
.ck-content > blockquote,
.ck-content > dl,
.ck-content > dd,
.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6,
.ck-content > hr,
.ck-content > figure,
.ck-content > p,
.ck-content > pre {
  margin: revert;
}

.ck-content > ol,
.ck-content > ul {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.ck-content > table {
  border-collapse: revert;
}

.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6 {
  font-size: revert;
  font-weight: revert;
}

.ck-content a {
  text-decoration: underline;
  color: #0284c7;
}

.ck-content-output > blockquote,
.ck-content-output > dl,
.ck-content-output > dd,
.ck-content-output > h1,
.ck-content-output > h2,
.ck-content-output > h3,
.ck-content-output > h4,
.ck-content-output > h5,
.ck-content-output > h6,
.ck-content-output > hr,
.ck-content-output > figure,
.ck-content-output > p,
.ck-content-output > pre {
  margin: revert;
}

.ck-content-output > *:last-child {
  margin-bottom: 0;
}

.ck-content-output > ol,
.ck-content-output > ul {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.ck-content-output > table {
  border-collapse: revert;
}

.ck-content-output > h1,
.ck-content-output > h2,
.ck-content-output > h3,
.ck-content-output > h4,
.ck-content-output > h5,
.ck-content-output > h6 {
  font-size: revert;
  font-weight: revert;
}

.ck-content-output a {
  text-decoration: underline;
  color: #0284c7;
}

.ck-content-output blockquote {
  overflow: hidden;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left: solid 5px hsl(0, 0%, 80%);
}
